<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Каталог скидок и акций строительных магазинов</title>
	<meta name="title" content="Каталог скидок и акций строительных магазинов">
	<meta name="description" content="Мы собираем свежие и актуальные акции, проходящие в строительных магазинах Вашего города">
	
	<meta property="og:title" content="Каталог скидок и акций строительных магазинов">
	<meta property="og:description" content="Мы собираем свежие и актуальные акции, проходящие в строительных магазинах Вашего города">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://skidkadarom.ru">
	
	<!--new-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<!--/new-->
	
	<link href="./page01_files/css" rel="stylesheet">
	<link href="./page01_files/css(1)" rel="stylesheet">
	<link href="./page01_files/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="./page01_files/bootstrap.min.css" rel="stylesheet">
	
	<link href="./page01_files/owl.carousel.min.css" rel="stylesheet">
	<link href="./page01_files/owl.theme.default.min.css" rel="stylesheet">
	
	<link href="./page01_files/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="./page01_files/style.css" rel="stylesheet">
	<!--new-->
	<link href="./css/slick.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
	<!--end new-->
	
</head>