<script src="./page01_files/jquery.min.js"></script>
<script src="./page01_files/jquery-ui.min.js"></script>


<script src="./page01_files/bootstrap.min.js"></script>
<script src="./page01_files/jquery.maskedinput.min.js"></script>
<script src="./page01_files/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./page01_files/jquery.matchHeight-min.js"></script>
<script src="./page01_files/saved_resource"></script>
<script src="./page01_files/jquery.plugin.min.js"></script>
<script src="./page01_files/jquery.countdown.min.js"></script>
<script src="./page01_files/jquery.countdown-ru.js"></script>
<script src="./page01_files/owl.carousel.min.js"></script>
<script src="./page01_files/jquery.cookie.js"></script>
<script src="./page01_files/script.js"></script>
<!--new-->
<script src="./js/slick.min.js"></script>
<script src="./js/scripts.js"></script>
<!--end new-->